@model MyPassionProject.Models.ViewModels.DetailsCafe


@{
    ViewBag.Title = "View";
}

<a href="/Cafe/List">Back to List</a>
<br />
<a href="/Cafe/Edit/@Model.selectedcafe.CafeId">Update</a>
<br />
<a style="color:darkred;" href="/Cafe/DeleteConfirm/@Model.selectedcafe.CafeId">Delete</a>
<h2>@Model.selectedcafe.CafeName</h2>
<div>@Model.selectedcafe.DistrictName</div>
<div>@Model.selectedcafe.CafeAddress</div>
<div>@Model.selectedcafe.CafePhone</div>
<div>@Model.selectedcafe.CafeDescription</div>
<div>@Model.selectedcafe.CafeWebsite</div>
<div>@Model.selectedcafe.CafeImage</div>

<div>
    <h2>Ameities in @Model.selectedcafe.CafeName:</h2>
    @foreach (var amenity in Model.CurrentAmenities)
    {

        <a href="/Amenity/Details/@amenity.AmenityId">@amenity.AmenityName</a> <a style="color:#ab2020;" href="/Cafe/Unassociate/@Model.selectedcafe.CafeId?AmenityId=@amenity.AmenityId">[x]</a><br />
    }

    <div>
        <h4>Add new Amenity to @Model.selectedcafe.CafeName</h4>
        <form method="POST" action="/Cafe/Associate/@Model.selectedcafe.CafeId">
            <select name="CafeId">
                @foreach (var amenity in Model.AvailableAmenities)
                {
                    <option value="@amenity.AmenityId">@amenity.AmenityName </option>
                }

            </select>
            <input type="submit" value="Associate Amenity" />
        </form>
    </div>
</div>
