@model MyPassionProject.Models.CafeDto


@{
    ViewBag.Title = "View";
}

<a href="/Cafe/List">Back to List</a>
<h2>@Model.CafeName</h2>
<div>@Model.DistrictName</div>
<div>@Model.CafeAddress</div>
<div>@Model.CafePhone</div>
<div>@Model.CafeDescription</div>
<div>@Model.CafeWebsite</div>
<div>@Model.CafeImage</div>

