@model MyPassionProject.Models.ViewModels.DetailsCafe


@{
    ViewBag.Title = "View";
}

<a href="/Cafe/List">Back to List</a>
<br />
<a href="/Cafe/Edit/@Model.selectedcafe.CafeId">Update</a>
<br />
<a style="color:darkred;" href="/Cafe/DeleteConfirm/@Model.selectedcafe.CafeId">Delete</a>
<h2>@Model.selectedcafe.CafeName</h2>
<div>@Model.selectedcafe.DistrictName</div>
<div>@Model.selectedcafe.CafeAddress</div>
<div>@Model.selectedcafe.CafePhone</div>
<div>@Model.selectedcafe.CafeDescription</div>
<div>@Model.selectedcafe.CafeWebsite</div>
<div>@Model.selectedcafe.CafeImage</div>

